<html>
<head>
    <title>Contact Bo</title>
</head>
<body>
    <div>
        <form action="/thanks" method="POST">
            <lable for="firstName">
                First Name:
            </lable>
            <input id="firstName" name="firstName" type="text">

            <lable for="lastName">
                Last Name:
            </lable>
            <input id="lastName" name="lastName" type="text">


            <lable for="email">
                Email:
            </lable>
            <input id="email" name="email" type="text">
        </form>
    </div>
</body>
</html>